<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Film Category</title>
</head>
<style>

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border:2px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

</style>
<body>
<h2>Film Category list</h2>

<p>
    <a href="../static/index.html" th:href="@{/}">Return to home</a>
</p>


<table>
    <tr>
        <th>FILM_ID</th>
        <th>CATEGORY_ID</th>
        <th>LAST_UPDATE</th>
    </tr>
    <tr th:each="filmcategory : ${filmcategories}">
        <td th:text="${filmcategory.filmId}"/>
        <td th:text="${filmcategory.categoryId}"/>
        <td th:text="${filmcategory.lastUpdate}"/>
    </tr>
</table>

<p>
    <a href="../static/index.html" th:href="@{/}">Return to home</a>
</p>

</body>
</html>