<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Staffs</title>
</head>
<style>

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border:2px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}


</style>
<body>
<h2>Staffs list</h2>

<p>
    <a href="../static/index.html" th:href="@{/}">Return to home</a>
</p>


<table>
    <tr>
        <th>STAFF_ID</th>
        <th>FIRST_NAME</th>
        <th>LAST_NAME</th>
        <th>ADDRESS_ID</th>
        <th>PICTURE</th>
        <th>EMAIL</th>
        <th>STORE_ID</th>
        <th>ACTIVE</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>LAST_UPDATE</th>
    </tr>
    <tr th:each="staff : ${staffs}">
        <td th:text="${staff.staffId}"/>
        <td th:text="${staff.firstName}"/>
        <td th:text="${staff.lastName}"/>
        <td th:text="${staff.addressId}"/>
        <td th:text="${staff.picture}"/>
        <td th:text="${staff.email}"/>
        <td th:text="${staff.storeId}"/>
        <td th:text="${staff.active}"/>
        <td th:text="${staff.userName}"/>
        <td th:text="${staff.password}"/>
        <td th:text="${staff.lastUpdate}"/>
    </tr>
</table>

<p>
    <a href="../static/index.html" th:href="@{/}">Return to home</a>
</p>

</body>
</html>