<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings  -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/temp1234</property>
        <property name="connection.username">mydevdomain</property>
        <property name="connection.password">mydevdomain</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
<!--
        <property name="hbm2ddl.auto">create</property>
-->
        <mapping class="com.nagihome.samplewebapp.temp.Book"/>
        <mapping class="com.nagihome.samplewebapp.temp.Publisher"/>
        <mapping class="com.nagihome.samplewebapp.temp.Product"/>
        <mapping class="com.nagihome.samplewebapp.temp.MapEntry"/>
    </session-factory>
</hibernate-configuration>