table {
	width: 100%;
	border-collapse: collapse;
	font-family: verdana, sans-serif;
	border-spacing: 10px;
}

th, td {
	padding: 8px;
	border: 1px solid #dddddd;
	text-align: left;
}

tr:NTH-CHILD(even) {
	background-color: #dddddd;
}
